.about-wrapper {
  min-height: 100vh;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 40px;
  color: white;
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 70px;
  height: 70px;
  background-image: url("../assets/logo.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 200;
}

.top-nav {
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 25px;
  z-index: 100;
}

.top-nav a {
  color: #ffffff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.2s;
}

.top-nav a:hover {
  opacity: 0.7;
}

.about-card {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(8px);
  padding: 50px;
  border-radius: 18px;
  display: flex;
  gap: 50px;
  max-width: 1100px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}

.about-photo img {
  width: 320px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.about-photo img:hover {
  transform: scale(1.03);
}

.about-text {
  max-width: 650px;
  line-height: 1.8;
}

.about-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-text h2 {
  margin-top: 30px;
  font-size: 1.7rem;
}

.about-text a {
  color: #8ab4ff;
}


.resume-button-container {
  margin-top: 30px;
}

.resume-button {
  padding: 12px 20px;
  background: #f7f7f7;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.resume-button:hover {
  background: #1f1e1e;
}
